# Action to Lint open repositories for common issues
# Uses https://github.com/todogroup/repolinter

# Needs master/repolint.json

name: Repository Linter
permissions:
  contents: read
on:
  workflow_dispatch:
      
jobs:
  launch-repolint:
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}                                    # Only 1 instance at time 
    runs-on: ubuntu-latest
 
    steps:
    - name: Check out the code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd                    # @v6.0.2

    - name: Install NodeJs                                                               # Install Software NodeJs 
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238                  # @v6.2.0
      with:
        node-version: 16

    - name: Install repo-linter
      run: |
        npm install -g repolinter

    - name: Run Repo Linter
      run: |
        repolinter --rulesetFile cfg/repolint.json lint .      
